@import url("colors.css");

#waybar {
  background: @background;
  border-radius: 15px;
  border: 3px solid @foreground;
  color: @foreground;
  font-family: 'SF Nerd Display';
  font-weight: bold;
  font-size: 13px;
}

.modules-left,
.modules-right {
  margin: 0 10px;
}

#workspaces button {
  color: @foreground;
  transition: color 0.3s ease-in;
}

#workspaces button.active,
#workspaces button.focused,
#workspace button.urgent {
  color: @foreground;
}

button:hover {
  font-size: inherit;
  box-shadow: inherit;
  text-shadow: inherit;
  background: transparent;
  border-color: transparent;
}

#clock,
#battery,
#backlight,
#pulseaudio,
#tray,
#language,
#workspaces,
#network,
#bluetooth,
#custom-now-playing,
#custom-launcher,
#custom-weather,
#custom-hyprpicker,
#custom-power-menu,
#temperature {
  margin: 12px 0;
  background: @background;
  color: @cursor;
  border-radius: 10px;
}

#tray,
#workspaces,
#temperature {
  background: @background;
}

#network,
#battery,
#backlight,
#pulseaudio,
#bluetooth {
  font-size: 16px;
  font-family: 'SF Nerd Mono';
}

#network {
  border-radius: 10px 0 0 10px;
}

#custom-power-menu {
  margin-right: 12px;
  color: @color11;
}

#workspaces,
#custom-weather,
#clock {
  margin-left: 8px;
}

#custom-hyprpicker,
#tray,
#custom-launcher,
#battery {
  margin-right: 8px;
}

#network {
  padding-left: 12px;
}

#clock,
#tray,
#custom-now-playing {
  padding: 0 8px;
}

#custom-power-menu,
#custom-hyprpicker,
#custom-launcher {
  font-size: 17px;
}

#custom-hyprpicker {
  margin-right: 12px;
  color: @color9;
  font-size: 20px;
}

#temperature {
  margin-right: 8px;
  padding: 6px;
  font-family: 'SF Nerd Mono';
}

#temperature.critical {
  color: @color12;
}

tooltip,
#waybar,
#workspaces,
#custom-launcher,
#custom-weather,
#custom-power-menu,
#custom-now-playing,
#custom-hyprpicker,
#tray {
  color: @foreground;
}

.tooltip {
  font-weight: bold;
  padding: 15px;
  background-color: @foreground;
}

#waybar,
#workspaces,
#custom-launcher,
#custom-power-menu,
#custom-hyprpicker {
  margin-left: 8px;
}

#network,
#battery,
#backlight,
#pulseaudio,
#bluetooth {
  font-size: 16px;
  padding: 0 8px;
}

#network {
  border-radius: 10px 0 0 10px;
}

#battery {
  border-radius: 0 10px 10px 0;
}

#battery.plugged,
#battery.charging {
  color: @foreground;
}

#battery.warning:not(.charging),
#battery.critical.charging {
  color: @color13;
}

#battery.critical:not(.charging) {
  color: @color14;
}

#backlight {
  color: @foreground;
}

#bluetooth.connected {
  color: @foreground;
}

#bluetooth.on {
  color: @color5;
}

#bluetooth.off {
  color: @color15;
}

#pulseaudio, #pulseaudio.microphone {
  color: @foreground;
}

#temperature {
  color: @foreground;
}

#temperature.critical {
  color: @color14;
}

#custom-hyprpicker {
  font-size: 20px;
  margin-right: 12px;
}

#temperature {
  padding: 6px;
  margin-right: 8px;
}

#temperature.critical {
  color: @color14;
}

#custom-weather,
#custom-launcher {
  background: none;
}

#custom-launcher {
  margin-left: 12px;
  color: @color4;
}

#bluetooth,
#language,
#backlight,
#pulseaudio {
  border-radius: 0;
}

#network,
#backlight,
#pulseaudio {
  padding-right: 0;
}

tooltip {
  font-family: SF Nerd Mono;
  font-weight: bold;
  padding: 15px;
  background-color: @background;
  color: @foreground;
}

#language {
  font-size: 16px;
  border-radius: 10px 0 0 10px;
  padding-left: 8px;
}

#backlight {
  padding-left: 0px;
}

