$background: #121318;
$error: #ffb4ab;
$error_container: #93000a;
$inverse_on_surface: #2f3036;
$inverse_primary: #4e5b92;
$inverse_surface: #e3e1e9;
$on_background: #e3e1e9;
$on_error: #690005;
$on_error_container: #ffdad6;
$on_primary: #1e2d61;
$on_primary_container: #dce1ff;
$on_primary_fixed: #05164b;
$on_primary_fixed_variant: #364479;
$on_secondary: #2b3042;
$on_secondary_container: #dee1f9;
$on_secondary_fixed: #171b2c;
$on_secondary_fixed_variant: #424659;
$on_surface: #e3e1e9;
$on_surface_variant: #c6c5d0;
$on_tertiary: #43273f;
$on_tertiary_container: #ffd7f4;
$on_tertiary_fixed: #2c1229;
$on_tertiary_fixed_variant: #5c3d56;
$outline: #90909a;
$outline_variant: #45464f;
$primary: #b7c4ff;
$primary_container: #364479;
$primary_fixed: #dce1ff;
$primary_fixed_dim: #b7c4ff;
$scrim: #000000;
$secondary: #c2c5dd;
$secondary_container: #c2c5dd;
$secondary_fixed: #dee1f9;
$secondary_fixed_dim: #c2c5dd;
$shadow: #000000;
$surface: #121318;
$surface_bright: #38393f;
$surface_container: #1e1f25;
$surface_container_high: #292a2f;
$surface_container_highest: #34343a;
$surface_container_low: #1a1b21;
$surface_container_lowest: #0d0e13;
$surface_dim: #121318;
$surface_variant: #45464f;
$tertiary: #e4bada;
$tertiary_container: #5c3d56;
$tertiary_fixed: #ffd7f4;
$tertiary_fixed_dim: #e4bada;

