@function divide-each($value, $divider) {
  $new-value: (
  );

@each $e in $value {
  $new-value: append($new-value, $e / $divider);
}

@return $new-value;
}


@function desaturateIfContrastTooHigh($color, $threshold) {
  $contrast: abs(lightness($color) - lightness(gray));

  @if ($contrast > $threshold) {
    @return desaturate($color, 30%);
  }

  @else {
    @return $color;
  }
}
