$bar_button_border_radius: 2em;
$default_transparency: .3;
$bar: if($variant =="dark", adjust-color($primary_container, $saturation: -20%), $primary_container);

@if $variant =="dark" {
  $bar: desaturateIfContrastTooHigh($bar, 20);
  $bar: desaturateIfContrastTooHigh($bar, 20);
}

$on_bar: if($variant =="dark", darken($bar, 10%), lighten($bar, 5%));
$bar: transparentize($bar, $default_transparency);
$on_bar_container: if($variant =="dark", adjust-color($on_primary_container, $saturation: -40%, $lightness: -10%), lighten($on_primary_container, 10%));
$on_bar_hover: if($variant =="dark", lighten($on_bar, 10%), darken($on_bar, 10%));
$on_bar_active: if($variant =="dark", darken($on_bar, 10%), darken(adjust-color($on_bar, $saturation: -40%), 20%));
$on_bar_container_hover: if($variant =="dark", adjust-color($on_bar_active, $saturation: -20%, $lightness: -20%), $on_bar_active);
$on_bar_container_active: if($variant =="dark", adjust-color($on_bar_active, $saturation: -20%, $lightness: -20%), $on_bar_active);
