.keyboardlayout {
  background-color: $on_bar;
  border-radius: $bar_button_border_radius;

  .keyboardlayout-label {
    margin-right: .5em;
  }

  .keyboardlayout-icon {
    font-weight: normal;
    margin-left: .5em;
  }
}
