$transition-default: color .3s ease, background-color .3s ease;

@mixin transition($transition: $transition-default) {
  transition: $transition;
}


.notification,
.notification-close-button-icon,
.notification-action-button,
.dnd-button-icon,
.clear-all-button-label {
  font-weight: bold;
  border-radius: 2em;
  color: $on_primary_container;
}

.notification-title,
.notification-time,
.notification-close-button,
.dnd-button-icon,
.clear-all-button-label,
.notification-action-button {
  color: $on_primary_container;
}

.notification-icon box {
  min-width: 4em;
  min-height: 4em;
  border-radius: 1em;
}

.notification,
.notification-close-button-icon,
.notification-action-button,
.dnd-button-icon,
.clear-all-button-label {
  @include transition;
}

.notification {
  min-width: 28em;
  min-height: 6em;
  padding: 1em;
}





.notification-close-button {
  margin-left: .5em;
  border-radius: 1em;
  padding: .2em;

  .notification-close-button-icon {
    background-color: darken($on_bar, 7%);
    font-size: 1.3em;

  }

  &:hover {

    .notification-close-button-icon {
      background-color: $on_bar_hover;
    }
  }

  &:active {

    .notification-close-button-icon {
      background-color: $on_bar_active;
    }
  }
}

.notification-body {
  color: $on_bar_container;
}

.notification-actions .notification-action-button {
  margin: 0 .4em;
  margin-top: .8em;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}





.notification.critical {
  .notification-title {
    color: $error;
  }

  .notification-body {
    color: lighten($error, 5%);
  }
}

.notification-icon {
  margin-right: .5em;

  image {
    font-size: 3.5em;
    margin: .15em;
  }
}


.dnd-button-icon,
.clear-all-button-label {
  margin: 1.2em 1em .8em 0;
  padding: .7em;
  font-size: 1.4em;
  background-color: $on_bar;

  &:hover {
    background-color: $on_bar_hover;
  }

  &:active {
    background-color: $on_bar_active;
  }
}

.notification-menu-main-title {
  font-size: 2em;
  margin: 0.2em 0 0 1em;
}

.notification-indicator {
  @include transition;
  color: $on_primary_container;

  &:hover {
    color: lighten($on_primary_container, 10%);
  }

  &:active {
    color: darken($on_primary_container, 5%);
  }
}
