.player {
  padding: 1em .6em;
  min-width: 30em;
}

.player .img {
  min-width: 8em;
  min-height: 8em;
  background-size: cover;
  background-position: center;
  border-radius: 1em;
  // margin-right: 1em;
}

.player .artist {
  font-size: 1.1em;
}

.player scale.position {
  padding: 0;
  margin-bottom: .3em;
}

.player scale.position trough {
  min-height: 8px;
}

// .player scale.position highlight {
// background-color: $on_surface_variant;
// }

.player scale.position slider {
  all: unset;
}

.player button {
  min-height: 1em;
  min-width: 1em;
  padding: .3em;
}

// .player button.play-pause {
//   margin: 0 .3em;
// }



.player-card {
  margin-top: 1em;
  background-color: $on_bar;
  border-radius: 2em;
  padding: .5em;
}

.player .title,
.player .artist {
  margin-left: 1em;
}


.player .title {
  color: lighten(desaturate($on_primary_container, 50%), 20%);

}
