.workspace-group {
  padding: 0 .5em;
  background-color: $on_bar;
  border-radius: $bar_button_border_radius;


  .workspace-button-wrapper {
    min-height: 0;
    min-width: 10px;
    border: solid 2px $on_surface_variant;
    border-radius: 2em;
    margin: .4em .25em;

    transition: border-color .2s ease-out;

    .workspace-button {
      padding: .5em;
      margin: .2em;
      border-radius: divide-each($bar_button_border_radius, 2);
      transition: background-color .2s ease-in, padding .2s ease;
    }


    &.occupied {
      border-color: $on_primary_container;

      .workspace-button {
        background-color: $on_primary_container;
      }

      &:hover {
        .workspace-button {
          background-color: $on_primary_container;
        }
      }
    }


    &.active {
      border-color: $primary;

      .workspace-button {

        &.hort {
          padding: 0 1em;
        }

      }

      &.occupied {
        .workspace-button {
          background-color: $primary;
        }

        &:hover {
          border-color: lighten($primary, 2%);

          .workspace-button {
            background-color: lighten($primary, 2%);
          }

        }
      }
    }

    &:hover {
      border-color: $on_primary_container;
    }


  }

}
