.notification-popups {
  .notification {
    background-color: $bar;
  }

  .notification-close-button-icon {
    background-color: $on_bar;
  }

  .notification-action-button {
    padding: .6em .6em;
    background-color: darken($on_bar, 5%);

    &:hover {
      background-color: lighten($on_bar_container_hover, 10%);
    }

    &:active {
      background-color: lighten($on_bar_container_active, 5%);
    }
  }
}
