.notification-list {
  border-radius: 2em;
  background-color: $bar;


  &-inner {
    min-height: 40em;
    min-width: 34em;
    padding: 1.2em 1em;

    &:first-child {
      // margin-top: 1em;
    }

    &:last-child {
      // margin-bottom: 1.2em;
    }
  }

  .notification {
    background-color: $on_bar;
    margin: 0 .2em;
  }

  .notification-action-button {
    padding: .6em .6em;
    background-color: darken($on_bar, 5%);

    &:hover {
      background-color: $on_bar_hover;
    }

    &:active {
      background-color: $on_bar_active;
    }
  }


  .notification-title-empty {
    font-size: 1.5em;
    margin-top: 1em;
    font-weight: bold;
  }

  // slider {
  // background-color: $on_bar;
  // min-width: .3em;
  // border-radius: 2em;
  // margin: 2em 0;
  // }
}
