@import "colors.css";

/* GLOBAL SETTING */

/* Fonts */

* {
  font-family: monospace !important;
}

/*------------------------------------------------*/
/* Background Color */

#navigator-toolbox,
#sidebar-box,
#tabbrowser-tabbox,
#tabbrowser-tabpanels,
#browser,
#appcontent,
#sidebar-select-box,
.browser-sidebar2,
tab.tabbrowser-tab * {
  background-color: var(--surface) !important;
}


#PersonalToolbar,
#nav-bar {
  background: transparent !important;
}

/*============================================================================================*/
/* NAV BAR */

/* Auto hide icons on the Nav Bar */
#nav-bar>#nav-bar-customization-target *:not(#urlbar-container):not(#urlbar-container *),
#PanelUI-button {
  opacity: 0 !important;
  transition: opacity 0.7s ease !important;
}

#nav-bar:hover>#nav-bar-customization-target *:not(#urlbar-container):not(#urlbar-container *),
#nav-bar:hover>#PanelUI-button {
  opacity: 1 !important;
  transition: opacity 0.3s ease !important;
}

/*------------------------------------------------*/
/* Remove line between website content and top bar */

#navigator-toolbox {
  border-bottom: var(--firefoxcss-top-bar-border-bottom-size) solid var(--firefoxcss-top-bar-border-bottom-color) !important;
}

/*------------------------------------------------*/
/* Remove the all tab and new tab button */
#alltabs-button,
#tabs-newtab-button {
  display: none !important;
}

/*------------------------------------------------*/
/* Remove the 3 dots from Alt Key */

#titlebar #toolbar-menubar .titlebar-buttonbox-container {
  display: none !important;
}

/* Disable buttons */

#TabsToolbar .titlebar-buttonbox-container .titlebar-button {
  display: none !important;
}

/*------------------------------------------------*/
/* Make Tab Bar join with URL Bar on the left */

:root {
  --frame-bg: #a6a6a6ff;
  --tab-border-radius: 3px !important;
  --NavbarWidth: 2;
  --TabsHeight: 30;
  --TabsBorder: 8;
  --NavbarHeightSmall: calc(var(--TabsHeight) + var(--TabsBorder))
}

#nav-bar {
  margin-top: calc(var(--TabsHeight) * -1px - var(--TabsBorder) * 1px) !important;
  height: calc((var(--TabsHeight) * 1px + var(--TabsBorder) * 1px) + 0px)
}



#nav-bar {
  margin-left: 35px !important;
}

#urlbar-container {
  min-width: 0px !important;
  flex: auto !important;
}


@media screen and (max-width:100px) {
  #TabsToolbar {
    margin-right: 0 !important;
  }

  #nav-bar {
    margin-left: 0 !important;
  }
}

/* Fix for Firefox 123 */
#nav-bar:not([tabs-hidden="true"]) {
  position: static !important;
  ;
}

#nav-bar-customization-target,
#PanelUI-button {
  position: relative !important;
  z-index: 3 !important;
}

/*------------------------------------------------*/
/* Make active tab to hidden tab */

tab:not([selected="true"]),
[part="overflow-start-indicator"],
[part="overflow-end-indicator"],
#scrollbutton-up,
#scrollbutton-down,
#TabsToolbar .titlebar-spacer,
.tabbrowser-tab[selected="true"] .tab-text,
.tabbrowser-tab[selected="true"] .tab-close-button,
.tab-line,
.tab-throbber {
  display: none !important;
}

.tabbrowser-tab[selected="true"] {
  min-width: 37px !important;
  max-width: 37px !important;
}

tab,
.tabbrowser-tab {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.tab-background {
  --outline: none !important;
  box-shadow: none !important;
}

.tab-icon-image {
  height: 32px !important;
  width: 32px !important;
  border-radius: 10px !important;
}

.tab-icon-image {
  content: url('dark.png') !important;
}



/*------------------------------------------------*/
/* Hide all buttons in active tab context menu except for split tab and extensions */

#main-window #context_openANewTab,
#main-window #context_reloadTab,
#main-window #context_toggleMuteTab,
#main-window #context_playTab,
#main-window #context_pinTab,
#main-window #context_duplicateTab,
#main-window #context_bookmarkTab,
#main-window #context_moveTabOptions,
#main-window #context_reopenInContainer,
#main-window #context_toggleToPrivateContainer,
#main-window #context_selectAllTabs,
#main-window #context_closeTab,
#main-window #context_closeTabOptions,
#main-window #context_undoCloseTab,
#context_MoveTabToOtherWorkspace,
#main-window #tabContextMenu menuseparator {
  display: none !important;
}



/*============================================================================================*/
/* EXTENSION */

/* Make extensions looks minimal */

#unified-extensions-view #unified-extensions-manage-extensions .toolbarbutton-text::before {
  content: "• • •";
  font-size: 15px;
  visibility: visible !important;
  display: block;
  text-align: center;
}

#unified-extensions-panel #unified-extensions-view {
  width: 100% !important;
}

#unified-extensions-view {
  --uei-icon-size: 22px;
  --firefoxcss-number-of-extensions-in-a-row: 4;
}


#unified-extensions-view .unified-extensions-item-menu-button.subviewbutton,
#unified-extensions-view .unified-extensions-item-action-button .unified-extensions-item-contents {
  display: none !important;
}

#unified-extensions-view .panel-subview-body {
  padding: 10px !important;
}

#unified-extensions-view .unified-extensions-item .unified-extensions-item-icon,
#unified-extensions-view .unified-extensions-item .toolbarbutton-badge-stack {
  margin-inline-end: 0px !important;
}

#unified-extensions-view #overflowed-extensions-list,
#unified-extensions-view #unified-extensions-area,
#unified-extensions-view .unified-extensions-list {
  display: grid !important;
  grid-template-columns: repeat(var(--firefoxcss-number-of-extensions-in-a-row), auto);
  justify-items: left !important;
  align-items: left !important;
}



/*============================================================================================*/
/* URL BAR */

/* Make text in URL bar in the center */

#nav-bar {

  display: flex;
  justify-content: center;
}

#urlbar-container {
  flex: 1;
  max-width: 1000px;
  min-width: 200px;
  margin: auto !important;
}

#main-window #urlbar {
  z-index: 9999 !important;
  width: 100% !important;
  margin-top: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  transition: width 0.3s ease, left 0.3s ease, margin-top 0.3s ease, margin-left 0.3s ease, margin-right 0.3s ease;
}

#main-window #urlbar[breakout][breakout-extend] {
  opacity: 0.97 !important;
  width: 100% !important;
  left: 0;
  right: 0;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 30vh !important;
  transition: width 0.3s ease, left 0.3s ease, margin-top 0.3s ease, margin-left 0.3s ease, margin-right 0.3s ease;
}

#urlbar-background,
#urlbar-input-container {
  --toolbarbutton-border-radius: calc(var(--urlbar-min-height) / 2);
}

#urlbar-input-container {
  --urlbar-icon-border-radius: calc(var(--toolbarbutton-border-radius) - 1px);
}

#urlbar:not([focused]) #urlbar-input {
  text-align: center !important;
}

#urlbar:not([breakout][breakout-extend]) #urlbar-input {
  text-align: center !important;
}

/*------------------------------------------------*/
/* Change URL Bar background color */
#urlbar-background {
  background-color: var(--surface) !important;
}

#urlbar-results>*[selected=""] {
  background-color: var(--surface_container_high) !important;
}


/*------------------------------------------------*/
/* Hide and Hover icons in URL Bar */

#nav-bar:not([customizing="true"]):not(.searchButton)>#nav-bar-customization-target>#urlbar-container:not(:hover)>#urlbar:not([focused])>#urlbar-input-container>#page-action-buttons .urlbar-page-action {
  opacity: 0;
  transition-delay: 500ms;
}

#nav-bar:not([customizing="true"]):not(.searchButton)>#nav-bar-customization-target>#urlbar-container:not(:hover)>#urlbar:not([focused])>#urlbar-input-container>#identity-box>#identity-permission-box:not([open]) {
  opacity: 0;
  transition-delay: 500ms;
}

#page-action-buttons .urlbar-page-action,
#identity-permission-box,
#notification-popup-box .notification-anchor-icon {
  transition: opacity 0.2s ease;
}

#urlbar #identity-icon-box,
#urlbar #identity-permission-box {
  opacity: 0 !important;
  margin-inline-start: calc(-16px - 2 * var(--urlbar-icon-padding));
  transition: margin-inline-start 100ms linear, opacity 200ms linear;
}

#urlbar #identity-box.notSecureText #identity-icon-box {
  margin-inline-start: initial !important;
  opacity: 1 !important;
  color: #e36f6f !important;
}

#urlbar #identity-box.extensionPage #identity-icon-box {
  margin-inline-start: initial !important;
  opacity: 1 !important;
}

#identity-box:hover #identity-icon-box,
#identity-box:hover #identity-permission-box,
#identity-box #identity-permission-box[open="true"] {
  opacity: 1 !important;
  margin-inline-start: initial !important;
}

#urlbar-input-container .urlbar-input-box {
  padding-inline-start: 2px !important;
}

#identity-box:hover~.urlbar-input-box>#urlbar-input {
  mask-image: linear-gradient(to right, transparent, black 3ch) !important;
}

#page-action-buttons {
  padding-inline-start: 8px;
}

#page-action-buttons .urlbar-page-action {
  margin-inline-end: calc(-16px - 2 * var(--urlbar-icon-padding));
  opacity: 0;
  transition: margin-inline-end 100ms linear, opacity 200ms linear;
}

#page-action-buttons:hover>.urlbar-page-action,
.urlbar-page-action[open],
.urlbar-page-action[open]~.urlbar-page-action {
  opacity: 1;
  margin-inline-end: 0px !important;
}

#identity-box.chromeUI #identity-icon-box {
  opacity: 1 !important;
  margin-inline-start: initial;
}

#identity-box.chromeUI::after,
#identity-box.chromeUI:hover::after {
  opacity: 0 !important;
}

#page-action-buttons:not(:hover) #translations-button[translationsactive="true"]:not([open]) {
  visibility: collapse !important;
}

/*------------------------------------------------*/
/* Create visual dots on both sides */
#identity-box::after,
#page-action-buttons::before {
  position: relative;
  content: "•••";
  pointer-events: none;
  transition: opacity 100ms ease;
  align-self: center;
  font-size: 0.7em;
}

#identity-box::after,
#page-action-buttons::before {
  opacity: 0.2;
}

#identity-box::after {
  transform: rotate(90deg);
  left: 4px;
}

#page-action-buttons::before {
  transform: rotate(-90deg);
  right: 4px;
}

#identity-box:hover::after,
#page-action-buttons:hover::before {
  opacity: 0.2 !important;
  transition: opacity 50ms ease;
  pointer-events: none;
}

#identity-box[pageproxystate="invalid"]::after,
#urlbar-input-container[pageproxystate="invalid"]>#page-action-buttons::before {
  opacity: 0 !important;
  transition: opacity 50ms ease;
}

/* Linux changes for visual dots */
@media (-moz-platform: linux) {

  #identity-box::after,
  #page-action-buttons::before {
    content: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><svg fill="%23FFFFFF" width="11px" height="11px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M20.25 16c0 2.347-1.903 4.25-4.25 4.25s-4.25-1.903-4.25-4.25c0-2.347 1.903-4.25 4.25-4.25s4.25 1.903 4.25 4.25zM20.25 27c0 2.347-1.903 4.25-4.25 4.25s-4.25-1.903-4.25-4.25c0-2.347 1.903-4.25 4.25-4.25s4.25 1.903 4.25 4.25zM20.25 5c0 2.347-1.903 4.25-4.25 4.25s-4.25-1.903-4.25-4.25c0-2.347 1.903-4.25 4.25-4.25s4.25 1.903 4.25 4.25z"></path></svg>');
    transform: none;
    font-size: unset;
  }

  #page-action-buttons::before {
    right: 2px;
  }

  #identity-box::after {
    left: 2px;
  }
}

#identity-box[pageproxystate="valid"].notSecureText>.identity-box-button,
#identity-box[pageproxystate="valid"].extensionPage>.identity-box-button,
#identity-box[pageproxystate="valid"].chromeUI>.identity-box-button,
#urlbar-label-box,
#urlbar-zoom-button {
  background-color: var(--firefoxcss-item-bg-color) !important;
}

#urlbar-zoom-button:hover {
  background-color: var(--firefoxcss-urlbar-zoom-button) !important;
}

#urlbar-input-container #identity-box>.identity-box-button,
#tracking-protection-icon-container,
#urlbar-go-button,
#page-action-buttons .urlbar-page-action,
#notification-popup-box {
  border-radius: 8px !important;
}

#urlbar-go-button,
#tracking-protection-icon-container {
  display: none !important;
}


/* BOX SHADOW \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/  */


/* BOX SHADOW /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\  */



/* BORDER \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/  */

.browserContainer>findbar,
#sidebar-box #sidebar,
#sidebar-box #webextpanels-window {
  border: 3px solid var(--outline) !important;
  ;
}

.browserContainer>findbar:hover,
#sidebar-box #sidebar:hover,
#sidebar-box #webextpanels-:hover {
  border: 3px solid var(on_surface) !important;
}


/* BORDER /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\  */


/*============================================================================================*/
/* SIDE BAR */

/* Expand Side bar on hover */

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
  --sidebar-width: 40px;
  --sidebar-hover-width: 320px;
  position: relative;
  padding-left: 5px;
  min-width: var(--sidebar-width) !important;
  width: var(--sidebar-width) !important;
  max-width: var(--sidebar-width) !important;
  z-index: 1;
}


#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]>#sidebar {
  transition: min-width 200ms ease-in-out !important;
  min-width: var(--sidebar-width) !important;
  will-change: min-width;
  transition-delay: 0.3s !important;
  /* Delay on hover off */
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:hover>#sidebar {
  min-width: var(--sidebar-hover-width) !important;
  transition-delay: 0s !important;
  /* No delay on hover on */
}

/*------------------------------------------------*/
/* Hide Side bar header and line */

#sidebar-header,
#sidebar-splitter {
  display: none !important;
}

/*------------------------------------------------*/
/* Sidebar Border */

#sidebar-box #sidebar,
#sidebar-box #webextpanels-window {
  border-radius: 15px !important;
  margin: 10px 0;
  transition: border 0.3s ease;
}

/*============================================================================================*/
/* MAIN BROWSER */

#main-window #appcontent browser {
  border-radius: 15px !important;
  margin: 10px !important;
  transition: border 0.3s ease;
  clip-path: circle(80%) !important;
}

#main-window[sizemode="fullscreen"] #appcontent browser {
  border: none;
  border-radius: 0 !important;
}

/*============================================================================================*/
/* FIND BAR */

/* CTRL+F Search Bar Border */

.browserContainer>findbar {
  border-radius: 15px !important;
  margin: 0px 10px 15px 10px !important;
  transition: border 0.3s ease !important;
}


/*------------------------------------------------*/
/* Text in the center */
.browserContainer>findbar .findbar-textbox {
  border-radius: 10px !important;
  text-align: center !important;
}

/*============================================================================================*/
/* BOOKMARK BAR */

/* Variables for toolbar & bookmark attributes */
:root {
  --uc-bm-height: 24px;
  --uc-bm-padding: 6px;
}

/* Style for Personal Toolbar */
#PersonalToolbar {
  position: relative !important;
  padding: 1px 6px !important;
}

/*------------------------------------------------*/
/* Make it good in transparent bg */
#PlacesToolbarItems>* {
  transition: background 0.3s ease;
}

#PlacesToolbarItems>* {
  background: var(--surface_container) !important;
}

#PlacesToolbarItems>*:hover {
  background: var(--surface_container_high) !important;
}

menubar,
toolbar,
nav-bar,
#TabsToolbar>* {
  background-color: var(--surface) !important;
}

#firefox-view-button {
  display: none !important;
}

#tabbrowser-tabs {
  border: none !important;
}
